<section id="container">


  <section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i> Message Form {{contacts.senderKnownAs}}</h3>
      <!-- BASIC FORM ELELEMNTS -->
      <div class="row mt">
     
        <div class="col-lg-6 col-md-6 col-sm-6" >
          <h4 class="title">Contact Subject</h4>
          <p> {{contacts.suject}}</p>
          <h4 class="title">Contact Details</h4>
          <p>{{contacts.content}}.</p>
          <ul class="contact_details">
            <li><i class="fa fa-envelope-o"></i> Contact with {{contacts.senderKnownAs}} :  {{contacts.email}}</li>
          
          </ul>
          <app-admin-send-msg [recipientId]="contacts.senderId">
          </app-admin-send-msg>
        </div>
      </div>


    </section>
  </section>

</section>