<div  class="text-center container">
  <div class="container">
    <h2 style="font-family:'JF FLAT'">Start From Here To Find Your Job</h2>
    <h5 style="font-family:'JF FLAT'">Please Register To Help You </h5>
    <!-- <div class="text-center">
      <button (click)="registerToggle()" style="font-family:'JF FLAT'" class="btn btn-primary btn-lg mt-2">Join Us</button>
       </div> -->
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>
<!-- (cancelRegister)="cancelRegister($event)" -->


