
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

li {
    padding: 10px;
    cursor: pointer;
}
.selected {
    background-color: #dddddd;
}
.mrright{
    margin-right: 90%;
}
.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
  
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li {
    color: #ffd700;
  }
  
  .rating-list {
    display: inline-block;
    list-style: none;
  }
