<section style="text-align: left;">
  <section class="wrapper site-min-height">

    <div class="chat-room mt">
      <aside class="mid-side">
        <div class="chat-room-head">
          <h3>Chat Room: </h3>
          <form action="#" class="pull-right position">
            <input type="text" placeholder="Search" class="form-control search-btn ">
          </form>
        </div>
        <section *ngFor="let message of messages">
          <div class="group-rom" *ngIf="message.senderId == recipientId">
            <div class="first-part"><strong>
                <span>
                  <img style="border-radius: 50%;" src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}"
                    class="rounded-circle">
                </span>
                {{message.senderKnownAs}}</strong></div>
            <div class="second-part"><strong>{{message.content}}</strong> </div>
            <div class="third-part"><strong>{{message.messageSent | timeAgo}}</strong></div>
          </div>

          <div class="group-rom last-group" *ngIf="message.senderId != recipientId">
            <div class="first-part odd"> <strong> <span class="chat-img">
                  <img  style="border-radius: 50%;" src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}" class="rounded-circle">
                </span>
                {{message.senderKnownAs}}</strong> </div>
            <div class="second-part"> <strong>{{message.content}}</strong> <strong *ngIf="!message.isRead" class="text-danger align-middle">( Unread)</strong>
              <strong *ngIf="message.isRead" class="text-warning align-middle">(seen
                  {{message.dateRead | timeAgo}})</strong> </div>
            <div class="third-part"><strong>{{message.messageSent | timeAgo}}</strong></div>
          </div>
        </section>

        <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage();">
          <div class="chat-txt">
            <input name="content" [(ngModel)]="newMessage.content" required type="text" class="form-control">
          </div>
          <div class="btn-group hidden-sm hidden-xs">
            <button type="button" class="btn btn-white"><i class="fa fa-meh-o"></i></button>
            <button type="button" class="btn btn-white"><i class=" fa fa-paperclip"></i></button>
          </div>
          <button [disabled]="!messageForm.valid" class="btn btn-theme">Send</button>
        </form>
      </aside>
    </div>
  </section>
</section>
