p.details li p li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #1659aa;
}


p a:hover {
	color: brown;
	background: transparent;
}

.details{
    color:#797979 ;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
}
.details :hover{
    color:#4ECDC4 ;
}
.dece{
    color: #fff;
	background-color:rgb(141, 160, 158);
		-webkit-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;

}
a.desc.thumb  a.active, h4.desc.details  a:hover, a:focus {
    background: #4ECDC4;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}