



      .app_page1 {
          margin: 0;
          overflow: hidden;
          height:100%;
        }

        @media (min-width: 768px){
          #left {
            position: fixed;
            top: 0px;
            bottom: 0;
            left: 0;
            width: 15%;
            overflow-y: scroll;
          }

          #middle {
            position: absolute;
            top: 0px;
            bottom: 0;
            left: 15%;
            width: 15%;
            overflow-y: scroll;
          }

          #right {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            overflow-y: scroll;
            width: 20%;
          }
          #po{
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            overflow-y: scroll;
            width: 20%;
          }
        }

        #left {
          background-color: #2f323a;
          text-align: center;
          height:100%;
        }

        #middle{
          background-color: #2f323a;
          text-align: center;
          height:100%;
        }

        #right {
          height:100%;
          background-color: #d6d9dc;
          text-align: center;
        }
        #po {
          height:100%;
          background-color: #d6d9dc;
          /* text-align: center; */
        }


        .tool-card{
          border: 2px solid black;
          padding: 10px 10px;
          margin: 10px 0;
        }
        .mtop{
          margin-top: 70px;
        }
        .app_page2 {
          /* margin: 0; */
          overflow: hidden;
          height:30%;
        }
        .setting{
          margin-top: 70px;
          height: 300px;
          /* width: 260px; */
          overflow-y: scroll ;
          position: fixed;
          margin-right: -300px;
          border: #4ECDC4;
        }
        .setting2{
          margin-top: 400px;
          width: 316px;
           /* height: 300px;
          width: 300px; */
          overflow-y: scroll ;
          position: fixed;
          margin-right: -300px;
          border: #4ECDC4;
        }
