<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7">
          <h2  class="featurette-heading"> {{careerpath.pahtname}} <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper
              . Praesent commodo cursus magna, vel scelerisque nisl consectetur
              . Fusce dapibus, tellus ac cursus commodo.{{careerpath.description}}</p>
            <ul class="list-group">
  <li  *ngFor="let Flowwer of careerdetails" class="list-group-item" >
      {{ Flowwer.name }}
    </li>
  </ul>
  <button [routerLink]="['/list_playlist/',careerpath.category]" type="button" class="btn btn-info mle">Info career path</button>
  <!-- <button  (click)="crearecareepath(careerpath.category)" type="button" class="btn btn-success mle2">Start career path</button> -->

  <!-- <form #editForm="ngForm" id="editForm" (ngSubmit)="crearecareepath()" role="form" class="contact100-form">
    <input class="input100" type="text" value="{{careerpath.category}}" [(ngModel)]="careerpath.category"   name="careerpath" > 
  <button form="editForm"  [routerLink]="['/list_playlist/',careerpath.category]" type="button" class="btn btn-success mle2">Start career path</button>
</form> -->


  <!-- <button type="button" class="btn btn-info">Info</button> -->
              <!-- <div *ngFor="let x of details">
                  <p>x</p>
              </div> -->

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="assets/0131.sdt-microsoft.png" alt="Generic placeholder image">
          <!-- <img class="img-circle" src="{{'assets/python.png'}}" width="125px" height="125px" alt="profile"> -->
        </div>
      </div>
      
      
</div>