
<div id="login-page" *ngIf="!loggedIn()">
  <div class="container">
    <div class="login-form">
      <form #form="ngForm" (ngSubmit)="login()" #loginForm="ngForm">
        <h1>Login</h1>
        <div class="form-group">
          <input name="username" [(ngModel)]="model.username" class="form-control" placeholder="username" required>
        </div>
        <div class="form-group">
          <input name="password" [(ngModel)]="model.password" type="password" class="form-control"
            placeholder="Password">
          <span class="input-icon"><i class="fa fa-lock"></i></span>
        </div>
        <button style="outline: none;" type="submit" [disabled]="form.invalid " (click)="login(form)"
          class="login-btn">Login</button>
        <div class="seperator"><b>or</b></div>
        <a class="reset-psw" style="cursor: pointer;" [routerLink]="['/register']">Create Nwe Account</a>
      </form>
    </div>
  </div>
</div>

<nav *ngIf="loggedIn()" class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
      <!-- <a class="navbar-brand" href="javascript:void(0)">
        <img src="{{photoUrl || 'assets/logo.PNG'}}" class="navbar-brand-img"  alt="...">
      </a> -->
    <div class="navbar-inner">
      <span class="text">
        <span>O</span>
        <span>U</span>
        <span>T</span>
        <span>L</span>
        <span>I</span>
        <span>E</span>
        <span>R</span>
        <span>S</span>
      </span>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">

        <ul  class="sidebar-menu text-center" id="nav-accordion">
      <!-- Fresh Graguate -->

          <li *hasRole="['Fresh Graduate']"   [routerLink]="['/Freshdashboard']">
            <a   [routerLink]="['/Freshdashboard']" class="btn btn-compose" style="
            font-family: 'Ruda', sans-serif; font-weight: 200;font-size: large;">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              Dashboard
              </a>
          </li>

          <li *hasRole="['Fresh Graduate']"   [routerLink]="['/jobs']">
            <a   [routerLink]="['/Freshdashboard']" class="btn btn-compose" style="
            font-family: 'Ruda', sans-serif; font-weight: 200;font-size: large;">
              <i class="fa fa-search-plus" aria-hidden="true"></i>

              Find your job
              </a>
          </li>
          <li *hasRole="['Fresh Graduate']"  [routerLink]="['/members']">
            <a   [routerLink]="['/Freshdashboard']" class="btn btn-compose" style="
            font-family: 'Ruda', sans-serif; font-weight: 200;font-size: large;">
              <i class="fa fa-search" aria-hidden="true"></i>
              Members
              </a>
          </li>
            <!-- Professional -->
            <li *hasRole="['Professional']"   [routerLink]="['/profdashboard']">
              <a    [routerLink]="['/profdashboard']" class="btn btn-compose" style="
              font-family: 'Ruda', sans-serif; font-weight: 200;font-size: large;">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                Dashboard
                </a>
            </li>

            <li *hasRole="['Professional']"   [routerLink]="['/jobs']">
              <a   [routerLink]="['/jobs']" class="btn btn-compose" style="
              font-family: 'Ruda', sans-serif; font-weight: 200;font-size: large;">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
                Find your job
                </a>

                <li  *hasRole="['Professional']" [routerLink]="['/members']">
                  <a   [routerLink]="['/Freshdashboard']" class="btn btn-compose" style="
                  font-family: 'Ruda', sans-serif; font-weight: 200;font-size: large;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Members
                    </a>
                </li>

             <!-- Company -->
             <li *hasRole="['Company']"   [routerLink]="['/dashboard']">
              <a    [routerLink]="['/profdashboard']" class="btn btn-compose" style="
              font-family: 'Ruda', sans-serif; font-weight: 200;font-size: large;">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                Dashboard
                </a>
            </li>
            <!-- Admin -->
            <li  *hasRole="['Admin']" [routerLink]="['/admin']">
              <a  [routerLink]="['/admin']" class="btn btn-compose" style="
              font-family: 'Ruda', sans-serif; font-weight: 200;font-size: large;">
               <i class="fa fa-tachometer" aria-hidden="true"></i>
               Dashboard
                </a>
            </li>


          <li *hasRole="['Admin']"  [routerLink]="['/allcontacts']">
            <a  [routerLink]="['/allcontacts']" class="btn btn-compose" style="
            font-family: 'Ruda', sans-serif; font-weight: 200;font-size: large;">
              <i class="fa fa-pencil"></i>  Contacts
              </a>
          </li>

          <li>
            <a (click)="loggedOut()" class="btn btn-compose" style="
            font-family: 'Ruda', sans-serif; font-weight: 200;font-size: large;">
              <i class="fa fa-sign-out" aria-hidden="true"></i>  Log-Out
              </a>
          </li>



        </ul>
        <hr class="my-3">
      </div>
    </div>
  </div>
</nav>

<div *ngIf="loggedIn()" class=" main-content" id="panel">
  <nav class="navbar navbar-top navbar-expand fixed-top navbar-dark bg-primary border-bottom" style=" margin-left: 16.5%;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Search form -->
        <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative input-group-merge">

              <a  [routerLink]="['/members/home']" class="button">Home</a>

            </div>
          </div>

          <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </form>
        <!-- Navbar links -->
        <i style="cursor: pointer;outline: none;" [routerLink]="['/messages']" class="fa fa-bell" aria-hidden="true"></i><span *ngIf="count!=='0'" class="badge bg-theme">{{count}}</span>

        <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
          <li  [routerLink]="['/members/profile']" class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img  src="{{photoUrl || 'assets/User.png'}}">
                </span>
                <div class="media-body  ml-2  d-none d-lg-block">
                  <span style=" font-size: inherit;" class="mb-0 text-sm  font-weight-bold">{{ authService.currentUser?.userName || authService.decodedToken?.unique_name | titlecase }}</span>
                </div>
              </div>
            </a>

          </li>
        </ul>
      </div>
    </div>
  </nav>
